<ion-view view-title="Event">
  <ion-content>
    <div class="list list-inset">
          <div class="item item-divider" style="text-align:center">
            {{ca.title}}
          </div>
          <div class="item item-text-wrap item-icon-left"><i class="icon ion-pricetag"></i>
            <h2>Price: {{ca.price}}</h2>
          </div>
          <div class="item item-text-wrap item-icon-left"><i class="icon ion-ios-time-outline"></i>
            <h2>Time: {{ca.date}} {{ca.time}}</h2>
          </div>
          <div class="item item-text-wrap item-icon-left"><i class="icon ion-ios-navigate-outline"></i>
            <h2>Location: {{ca.location}}</h2>
          </div>

          <div class="item item-divider" style="text-align:center">
            Brief Description
          </div>
          <div class="item item-text-warp">
            <h2>{{ca["brief description"]}}</h2>
          </div>
          <div class="item item-divider" style="text-align:center">
            Tags
          </div>
          <div class="item item-text-warp">
            <h2>{{ca["primary category"]}} {{ca["secondary category"]}} {{ca["3rd category"]}}</h2>
          </div>
        </div>
    </div>
  </ion-content>
</ion-view>
