<ion-view view-title="Events">
  <ion-header-bar>
    <div class="button-bar custom-width-bar">
      <a class="button button-small button-positive button-outline" href="#/app/categories">Categories</a>
      <a class="button button-small button-positive" href="#/app/events">All</a>
    </div>
  </ion-header-bar>
  <ion-content class="has-subheader">
      <div class="card" ng-repeat="event in events" >
        <div class="item item-divider">
          {{event.title}}
        </div>
        <div class="item item-text-wrap">
          <p>Price: {{event.price}}</p>
          <p>Time: {{event.date}} {{event.time}}</p>
          <p>Location: {{event.location}}</p>
        </div>
      </div>
  </ion-content>
</ion-view>
