<ion-view view-title="Events">
  <ion-header-bar>
    <div class="button-bar custom-width-bar">
      <a class="button button-small button-positive" ng-class="{'button-outline': categoryToggle !== 1}" ng-click="toggle(1)">Categories</a>
      <a class="button button-small button-positive" ng-class="{'button-outline': categoryToggle !== 0}" ng-click="toggle(0); filterByCategory(null)">All</a>
    </div>
  </ion-header-bar>
  <ion-content class="has-subheader">
      <div ng-show="categoryToggle === 0 || categoryToggle === 2">
        <ion-list>
        <div class="card" ng-repeat="event in events" ui-sref="app.card({ind: {{$index}}})">
          <div class="item item-divider">
            {{event.title}}
          </div>
          <div class="item item-text-wrap">
            <p>Price: {{event.price}}</p>
            <p>Time: {{event.date}} {{event.time}}</p>
            <p>Location: {{event.location}}</p>
          </div>
        </div>
      </ion-list>
      </div>
      <div ng-show="categoryToggle === 1">
        <ion-list>
          <ion-item ng-repeat="category in categories | orderBy:'toString()'" ng-click="filterByCategory(category); toggle(2)" class="capitalize">
            {{category}}
          </ion-item>
        </ion-list>
      </div>
  </ion-content>
</ion-view>
