<ion-view view-title="Preferences">
  <ion-content>

    <div class="item item-divider">
      Event Ranking Importance
    </div>
    <ion-toggle ng-model="prefs.priceImportant" toggle-class="toggle-calm">Price</ion-toggle>
    <ion-toggle ng-model="prefs.locationImportant" toggle-class="toggle-calm">Location</ion-toggle>
    <ion-toggle ng-model="prefs.interestsImportant" toggle-class="toggle-calm">Interests</ion-toggle>

    <div class="item item-divider">
      Maybe try this instead of the above?
    </div>
    <!--Accordion menu from https://codepen.io/ionic/pen/uJkCz -->
    <ion-list>
      <div ng-repeat="category in categories">
        <ion-item class="item-stable" ng-click="toggleCategory(category)" ng-class="{active: isCategoryShown(category)}">
          <i class="icon" ng-class="isCategoryShown(category) ? 'ion-minus' : 'ion-plus'"></i>
          {{category.name}}
        </ion-item>
        <ion-checkbox class="item-accordion" 
                      ng-repeat="subcategory in category.subcategories" 
                      ng-show="isCategoryShown(category)" 
                      ng-click="stuff(category.name,subcategory)">
          {{subcategory}} {{category.name}}:{{subcategory}}
        </ion-checkbox>
      </div>
    </ion-list>

    <button class="button button-calm" ng-click="savePrefs()">Save</button>
  </ion-content>
</ion-view>