<ion-view view-title="Preferences">
  <ion-nav-buttons side="right">
    <button class="button button-positive" ng-click="savePrefs()">
      Save
    </button>
  </ion-nav-buttons>
  <ion-content>

    <label class="item item-input">
      <span class="input-label">Preference Name:</span>
      <input type="text" ng-model="prefs.name" placeholder="Preference Name">
    </label> 

    <div class="item item-divider">
      Event Ranking Importance
    </div>

    <div class="item range">
      <!-- <i class="ion-ios-pricetag"></i> -->
      <span class="input-label">Cheaper</span>
      <input type="range" name="Price" min="0" max="100" ng-model="prefs.price">
      <!-- <i class="ion-ios-pricetags"></i> -->
    </div>
    <div class="item range">
      <!-- <i class="ion-ios-pricetag"></i> -->
      <span class="input-label">Closer</span>
      <input type="range" name="Price" min="0" max="100" ng-model="prefs.location">
      <!-- <i class="ion-ios-pricetags"></i> -->
    </div>
    <ion-toggle ng-model="prefs.interestsImportant" toggle-class="toggle-calm">Interests</ion-toggle>

    <div class="item item-divider">
      Interests
    </div>
    <!--Accordion menu from https://codepen.io/ionic/pen/uJkCz -->
    
    <label class="item item-input">
      <input ng-model="searchText" type="text" placeholder="Search for Interests">
    </label>

    <ion-list>
      <div ng-repeat="category in categories">
        <ion-checkbox ng-repeat="subcategory in category.subcategories | filter: searchText"
                      ng-show="searchText" 
                      ng-click="updateCategories(category.name,subcategory)"
                      ng-checked="inCategories(category.name,subcategory)"
                      class="accordion-checkbox">
          {{subcategory}}
        </ion-checkbox>            
      </div>
    </ion-list>

    <ion-list>
      <div ng-repeat="category in categories">
        <ion-item class="item-stable" ng-click="toggleCategory(category)" ng-class="{active: isCategoryShown(category)}">
          <i class="icon" ng-class="isCategoryShown(category) ? 'ion-minus' : 'ion-plus'"></i>
          {{category.name}}
        </ion-item>
        <ion-checkbox class="item-accordion" 
                      ng-repeat="subcategory in category.subcategories" 
                      ng-show="isCategoryShown(category)" 
                      ng-click="updateCategories(category.name,subcategory)"
                      ng-checked="inCategories(category.name,subcategory)">
          {{subcategory}}
        </ion-checkbox>
      </div>
    </ion-list>
  </ion-content>
</ion-view>