# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
ionic.project
.io-config.json

#Mac users
.DS_Store
*/.DS_Store

#Vi(m) users
*.swp
*.swo

#wtf editors that make <filename>~ files
*~

