/* Empty. Add your own CSS if you like */
.capitalize {
   text-transform: capitalize;
}
.button-bar.custom-width-bar .button {
  width: 35%;
  max-width:38%;
}

.button-bar.custom-width-bar {
  padding-left: 20%;
  padding-top: 12%;

}

@media screen and (orientation: landscape)
{
	.button-bar.custom-width-bar {
		padding-top: 7%;
	}
}
